*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Times New Roman', Times, serif;
   font-size: 100%;
    height: 100vh;
}

.COntainer{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif ;
    background-image: linear-gradient(black, purple);
}


.cart-items{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    height: auto;
    
}

.cross-btn{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: red;
}
.cart-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.cart-content{
    display: flex;
    flex-direction: column;
    border-right: solid;
    height: 50%;
}
.cart-address{
    display: flex;
    flex-direction: row;
    height: auto;
    
    /* have to make a change here */
}
.address-details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.address-details .deliver-to{
    font-size: 2rem;
}
.address-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    
}
.address-buttons button{
    all: unset;
    padding: 1rem;
    box-shadow: 1px 1px 1px 2px yellow;
}

.border{
    border: solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.border p{
    font-size: 1.3rem;
}

.cart-checkout{
    display: flex;
    min-width: 20rem;
    height: auto;
    flex-direction: column;
    margin: 1rem;  
}
.coupons-sec input{
    all: unset;
    border: solid;
    padding: 0.5rem;
}
.coupons-sec{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
}
.coupons-sec .coupon-btn{

    font-size: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 2px yellow;
}


.cart-cost{
   
    display: flex;
    flex-direction: column;
}
.cost-item{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    
   
}
.cost-item .cost-title{
    width: 80%;
}
.cost-item .cost-rate{
    width: 20%;
    text-align: center;
}
.cart-subhead{
    font-size: 1.5rem;
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
}
.cost-item:nth-child(3){
    border-bottom: 3px solid white;
}
.cost-item-btn{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 2px 2px 2px 4px yellow;
}
